.Card{
    border: 1px solid rgb(172, 169, 169);
    border-radius:8px;
    padding:40px;
    width:50%;
    display:inline-block;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
  }
.Title{
    text-align: center;
    font-weight:bold;
    font-size:30px;
    margin: 30px 0px 40px;
}
.row{
    border-radius: 5px;
}
label{
    font-size: 20px;
    width: 25%;
    padding: 12px 0px 12px 0;
    display: inline-block;
}
input{
    width: 40%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    resize: vertical;
}
.button{
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 1;
    border-radius: 35px;
}
.tabel td,
.tabel th {
  border: 2px solid #ddd;
  padding: 10px;
}
td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff7f50;
  color: black;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: black;
}

table.tabel {
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  color: #000;
  border-collapse: collapse;
  border: 5px solid white;
}
