body {
    font-family: sans-serif;
    background-image: url('../img/pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
* {
     margin: 0;
     padding: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
}
.header {
    background-color: #fff;
    height: 80px;
    width: 100%;
}
.logo {
    width: 150px;
    position: absolute;
    top: 17px;
    left: 5%;
}
.image {
    padding-left:10px ;
    width: 200px;
}
nav ul {
    float: right;
    margin-right: 25px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    position: relative;
    color: #000;
    font-size: 14px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel {
    color: black;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
section {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 80%;
    margin: 25px 150px 100px auto;

}
section h1 {
    text-align: center;
    margin-bottom: 30px;
}
#article-list{
    padding: 20px;
}
p{
    margin-bottom: 10px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
h5{
    color: white;
    text-align: center;
    padding: 20px 20px;
}
* {
    text-decoration: none;
}
table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
  }
h1 {
    text-align: center;
}  
th, td {
    padding: 8px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
    padding: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-25 {
    font-weight: bold;
    font-size: 16px;
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: left;
}
.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}
input, textarea{
    display: inline-block;
    float: right;
    width: 50%;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
  width: 100px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}
.btn-danger {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
  }
.btn-info {
    background-color: #008CBA; 
    width: 150px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 150px;
  }
.card-home {
    transition: 0.3s;
    width: 40%;
}
.container-home {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

@media (max-width: 1118px){
    img {
        left: 8%;
    }
}

@media (max-width: 944px){
    img {
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 12px;
    }
}

@media (max-width: 860px){
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ececec;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    } 
    #check:checked ~ nav ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display:block;
    }
}